* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
  background-color: rgb(244, 244, 244);
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #2ebaae !important;
}